.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.button.cta{
    color: rgb(172,20,3)
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: center;
}

.shadow-about{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)
}

.col-lg-7 {
    flex: 0 0 auto;
    width: 30%;
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 70%;
}

.about{
    background: rgb(149,153,138);
}

.testimonial{
    background: rgb(202,186,169);
}

.footer{
    background: black;
}

.icon-color{
    color: rgb(172,20,3);
}

.logo-style{
    color: rgb(77, 98, 68);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.navbar-font{
    font-family: 'Urbanist', sans-serif;
}

.header-image{
    border-radius: 25px;
}

.btn-primary {
    color: #fff;
    background-color: rgb(172,20,3);
    border-color: rgb(172,20,3);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(203,136,89);
    border-color: rgb(203,136,89);
}

.h1-hero{
    color: rgb(203,136,89);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
}

.p-body-text-dark{
    color: grey;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300
}

.p-body-text-light{
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    text-align:center;
}

.h1-about{
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: center;
}

.h2-about{
    color: white;
    font-family: 'Urbanist', sans-serif;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
}

.img-test{
    border-radius: 50%;
}

.collection-font{
    color: rgb(203,136,89);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
}

.h1-newsletter{
    color: rgb(77, 98, 68);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
}

.h1-contact{
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: left;
}

.p-body-contact{
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}